.bg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.withdraw-container {
  background-color: #150b3e;
  width: 80%;
  border-radius: 16px;
  padding-top: 24px;
  padding-left: 18px;
  padding-bottom: 8px;
  padding-right: 18px;
  max-width: 350px;
}
.user-details-container {
  display: flex;
}

.initial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c7d2fe;
  height: 48px;
  width: 48px;
  border-radius: 24px;
}
.initial {
  font-size: 15px;
  color: #7c3aed;
}
.name {
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
  color: #d4d2db;
}
.balance-container {
  display: flex;
  flex-direction: space-between;
  margin-top: 20px;
}
.your-balance {
  color: #585076;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Roboto';
}
.balance {
  color: #c4c4c4;
  font-weight: 400;
  font-size: 22px;
  font-family: 'Roboto';
}
.rupees {
  font-size: 12px;
  font-weight: 500;
  color: #585076;
}
.withdraw {
  font-size: 23px;
  color: #ffffff;
  font-weight: 400;
  font-family: 'Roboto';
}
.choose-sum {
  margin-top: 14px;
  font-size: 14px;
  font-weight: 500;
  color: #585076;
  font-family: 'Roboto';
}
